{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main-content-wrapper">
    <main class="main-content">
        <div class="container-fluid">
            <h1>Immune Portal Experiment Output</h1>
            <div class="card">
                <div class="card-header">
                    Vizualization
                </div>
                <div class="card-body">
		    <select id="urlVal" style="visibility:hidden;">
	    		<option value={{outputFilePath}} selected>Select genome </option>
		  </select>
		<table id="resultTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
		  <thead>
		      <tr>
		           <th>id</th>
			    <th>hla</th>
			    <th>mut_pep</th>
			    <th>wt_pep</th>
			    <th>pep_hydro</th>
			    <th>pep_polar</th>
			    <th>pep_charge</th>
			    <th>pep_entropy</th>
			    <th>pep_molsize</th>
			    <th>pep_TAP</th>
			    <th>pep_Cle</th>
			    <th>pep_Comb</th>
			    <th>neo_aff</th>
			    <th>neo_rank</th>
			    <th>iedb_immunescore</th>
			    <th>pep_DAI</th>
			    <th>pep_Rscore</th>
			    <th>pep_NRP</th>
			    <th>pep_pTuneos</th>
			    <th>rf_predict</th>
		      </tr>
		  </thead>
		</table>
		<div id="svgHolder" ></div>
        </div>
            
            <!-- Adding a list of "Hello" greetings
            <div class="card">
                <div class="card-header">
                    Run "echo" for different languages
                </div>
                <div class="card-body">
                    <select id="greeting-select"></select>
                    <button id="run-button" class="btn btn-primary">Run</button>
                </div>
            </div>
            -->
	    <div class="card">
                <div class="card-header">
                    Distribution
                </div>
                <div class="card-body">
                    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    Experiments
                </div>
                <div class="card-body">
                    <button id="refresh-button" class="btn btn-secondary">Refresh</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Application</th>
                                <th scope="col">Creation Time</th>
                                <th scope="col">Status</th>
                                <th scope="col">Output</th>
                            </tr>
                        </thead>
                        <tbody id="experiment-list">
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </main>
</div>
{% endblock content %}

{% block css %}
        <link rel="stylesheet" href="../../static/css/dataTables.bootstrap.min.css">
  {% endblock %}
  
{% block scripts %}
<script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>


  <script src = "../../static/js/jquery.dataTables.min.js" defer ></script>
  <script src="../../static/js/dalliance-compiled.js" defer></script>
  <!--for IRNEO-->
  <script src="../../static/js/plotly-latest.min.js" ></script>
<script>
function CSVToArray(strData, strDelimiter) {
    // Check to see if the delimiter is defined. If not,
    // then default to comma.
    strDelimiter = (strDelimiter || "\t");
    // Create a regular expression to parse the CSV values.
    var objPattern = new RegExp((
    // Delimiters.
    "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +
    // Quoted fields.
    "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
    // Standard fields.
    "([^\"\\" + strDelimiter + "\\r\\n]*))"), "gi");
    // Create an array to hold our data. Give the array
    // a default empty first row.
    var arrData = [[]];
    // Create an array to hold our individual pattern
    // matching groups.
    var arrMatches = null;
    // Keep looping over the regular expression matches
    // until we can no longer find a match.
    while (arrMatches = objPattern.exec(strData)) {
        // Get the delimiter that was found.
        var strMatchedDelimiter = arrMatches[1];
        // Check to see if the given delimiter has a length
        // (is not the start of string) and if it matches
        // field delimiter. If id does not, then we know
        // that this delimiter is a row delimiter.
        if (strMatchedDelimiter.length && (strMatchedDelimiter != strDelimiter)) {
            // Since we have reached a new row of data,
            // add an empty row to our data array.
            arrData.push([]);
        }
        // Now that we have our delimiter out of the way,
        // let's check to see which kind of value we
        // captured (quoted or unquoted).
        if (arrMatches[2]) {
            // We found a quoted value. When we capture
            // this value, unescape any double quotes.
            var strMatchedValue = arrMatches[2].replace(
            new RegExp("\"\"", "g"), "\"");
        } else {
            // We found a non-quoted value.
            var strMatchedValue = arrMatches[3];
        }
        // Now that we have our value string, let's add
        // it to the data array.
        arrData[arrData.length - 1].push(strMatchedValue);
    }
    // Return the parsed data.
    return (arrData);
}




function CSV2JSON(csv) {
    var array = CSVToArray(csv);
    var objArray = [];
    
    
    for (var i = 1; i < array.length; i++) {
        objArray[i - 1] = {};
        for (var k = 0; k < array[0].length && k < array[i].length; k++) {
            var key = array[0][k];
            objArray[i - 1][key] = array[i][k]
        }
    }
    var addData={}
    addData["data"]=objArray;
    return (addData);
}





function transpose(a) {

  // Calculate the width and height of the Array
  var w = a.length || 0;
  var h = a[0] instanceof Array ? a[0].length : 0;

  // In case it is a zero matrix, no transpose routine needed.
  if(h === 0 || w === 0) { return []; }

  /**
   * @var {Number} i Counter
   * @var {Number} j Counter
   * @var {Array} t Transposed data is stored in this array.
   */
  var i, j, t = [];

  // Loop through every item in the outer array (height)
  for(i=0; i<h; i++) {

    // Insert a new row (array)
    t[i] = [];

    // Loop through every item per item in outer array (width)
    for(j=0; j<w; j++) {

      // Save transposed data.
      t[i][j] = a[j][i];
    }
  }

  return t;
}


function numInstance(arr) {
  var a = [],
    b = [],
    prev;

  arr.sort();
  for (var i = 0; i < arr.length; i++) {
    if (arr[i] !== prev) {
      a.push(arr[i]);
      b.push(1);
    } else {
      b[b.length - 1]++;
    }
    prev = arr[i];
  }

  return [a, b];
}

var a="{{request}}";
console.log('a');
console.log(a);
b=a.split("?=")[1].split("&")[0];
console.log(b);
var data_file=b;

$(document).ready(function() {
	var dataout;
	$.ajax({
	    url: data_file,
	    method: 'GET',
	    //datatype: 'json',
	    
	    
       	    //console.log(data_file);
            //console.log(data_file);
	    success: function (data) {
	//console.log('hello');
	//console.log(data_file);
	    //console.log(data);
	    var dataout=CSV2JSON(data);
	    console.log('postfunc',dataout);
	    $('#resultTable').DataTable( {
			    "processing": true,
			"scrollX": true,
			//,
			"data":dataout,
			"columns": [
			    { "data": "id" },
			    { "data": "hla" },
			    { "data": "mut_pep" },
			    { "data": "wt_pep" },
			    { "data": "pep_hydro" },
			    { "data": "pep_polar"},
			    { "data": "pep_charge"},
			    { "data": "pep_entropy"},
			    { "data": "pep_molsize" },
			    { "data": "pep_TAP" },
			    { "data": "pep_Cle" },
			    { "data": "pep_Comb"},
			    { "data": "neo_aff"},
			    { "data": "neo_rank"},
			    { "data": "iedb_immunescore"},
			    { "data": "pep_DAI"},
			    { "data": "pep_Rscore"},
			    { "data": "pep_NRP"},
			    { "data": "pep_pTuneos"},
			    { "data": "rf_predict"}
			]
		    } );
		    var table = $('#resultTable').DataTable();
			    }
			 });
	    
    
    //console.log('firstOnly',output[0]);
    //$.fn.dataTable.ext.errMode = 'throw';
    
    /*$.each(data, function(i, data) {
	    var body = "<tr>";
	    body    += "<td>" + data.id + "</td>";
	    body    += "<td>" + data.hla + "</td>";
	    body    += "<td>" + data.mut_pep + "</td>";
	    body    += "<td>" + data.wt_pep + "</td>";
	    body    += "<td>" + data.pep_hydro + "</td>";
	    body    += "<td>" + data.pep_polar + "</td>";
	    body    += "<td>" + data.pep_charge + "</td>";
	    body    += "<td>" + data.pep_entropy + "</td>";
	    body    += "<td>" + data.pep_molsize + "</td>";
	    body    += "<td>" + data.pep_TAP + "</td>";
	    body    += "<td>" + data.pep_Cle + "</td>";
	    body    += "<td>" + data.pep_Comb + "</td>";
	    body    += "<td>" + data.neo_aff + "</td>";
	    body    += "<td>" + data.neo_rank + "</td>";
	    body    += "<td>" + data.iedb_immunescore + "</td>";
	    body    += "<td>" + data.pep_DAI + "</td>";
	    body    += "<td>" + data.pep_Rscore + "</td>";
	    body    += "<td>" + data.pep_NRP + "</td>";
	    body    += "<td>" + data.pep_pTuneos + "</td>";
	    body    += "<td>" + data.rf_predict + "</td>";
	    
	    body    += "</tr>";
	    $( '#resultTable').append(body);
    });*/
    
    });

	
    
	
   
	    	
	    
/*

	    $.fn.dataTable.ext.errMode = 'throw';
	    $('#resultTable').DataTable( {
		    "processing": true,
		"scrollX": true,
		"data":output,
	    } );
	    var table = $('#resultTable').DataTable();*/
/*
var data = [{
  type: 'table',
  header: {
    values: output[0],
    align: "center",
    line: {width: 1, color: 'black'},
    fill: {color: "grey"},
    font: {family: "Arial", size: 12, color: "white"}
  },
  cells: {
    values: transpose(output.slice(1,output.length)),
    align: "center",
    line: {color: "black", width: 1},
    font: {family: "Arial", size: 11, color: ["black"]}
  }
}]

Plotly.newPlot('myPltTable', data);

//CLICK EVENTS FOR PLOT TO UPDATE TABLE

myPlot.on('plotly_click', function(data){
    console.log(data);
    
    var newData=[];
    var curveNumber=data.points[0].curveNumber;
    for (i=1;i<output.length;i++){
    	//probability curve
    	if(curveNumber==0){
    		if(output[i].includes(data.points[0].y)){
    			newData.push(output[i]);
    		}
    	}
    	else if(curveNumber==1){
    		if(output[i].includes(data.points[0].x)){
    			newData.push(output[i]);
    		}
    	}
    	else if(curveNumber==2){
    		if(output[i].includes(data.points[0].x)){
    			newData.push(output[i]);
    		}
    	}
    }
    
    var data = [{
	  type: 'table',
	  header: {
	    values: output[0],
	    align: "center",
	    line: {width: 1, color: 'black'},
	    fill: {color: "grey"},
	    font: {family: "Arial", size: 12, color: "white"}
	  },
	  cells: {
	    values: transpose(newData.slice(0,newData.length)),
	    align: "center",
	    line: {color: "black", width: 1},
	    font: {family: "Arial", size: 11, color: ["black"]}
	  }
	}]
    //document.getElementById("myPltTable").setAttribute('data',data);
    //Plotly.redraw('myPltTable');
    Plotly.newPlot('myPltTable', data);

    
    /*var pts = '';
    for(var i=0; i < data.points.length; i++){
        pts = 'x = '+data.points[i].x +'\ny = '+
            data.points[i].y.toPrecision(4) + '\n\n';
    }
    alert('Closest point clicked:\n\n'+pts);
});*/







</script>
<script>
    
    const { models, services, session, utils } = AiravataAPI;
    
    

    const appInterfaceId = "Echo_23d67491-1bef-47bd-a0f5-faf069e09773";

    function loadExperiments() {
        return services.ExperimentSearchService.list({
            limit: 5,
            [models.ExperimentSearchFields.USER_NAME.name]:
                session.Session.username,
            [models.ExperimentSearchFields.APPLICATION_ID.name]: appInterfaceId
        }).then(data => {
            $("#experiment-list").empty();
            data.results.forEach((exp, index) => {
                $("#experiment-list").append(
                    `<tr>
                            <td>${exp.name}</td>
                            <td>${exp.executionId}</td>
                            <td>${exp.creationTime}</td>
                            <td>${exp.experimentStatus.name}</td>
                            <td id="output_${index}"></td>
                        </tr>`
                );
                // If experiment has finished, load full details, then parse the stdout file
                /* Displaying the experiment output
                if (exp.experimentStatus === models.ExperimentState.COMPLETED) {
                    services.FullExperimentService.retrieve({
                        lookup: exp.experimentId
                    })
                        .then(fullDetails => {
                            const stdoutDataProductId = fullDetails.experiment.experimentOutputs.find(
                                o => o.name === "Echo-STDOUT"
                            ).value;
                            const stdoutDataProduct = fullDetails.outputDataProducts.find(
                                dp => dp.productUri === stdoutDataProductId
                            );
                            if (
                                stdoutDataProduct &&
                                stdoutDataProduct.downloadURL
                            ) {
                                return fetch(stdoutDataProduct.downloadURL, {
                                    credentials: "same-origin"
                                }).then(result => result.text());
                            }
                        })
                        .then(text => {
                            $(`#output_${index}`).text(text);
                        });
                }
                */
            });
        });
    }

    loadExperiments();
    $("#refresh-button").click(loadExperiments);

    $("#run-button").click(e => {
        const greeting = $("#greeting-select").val();
        const loadAppInterface = services.ApplicationInterfaceService.retrieve({lookup: appInterfaceId});
        const appDeploymentId = "example-vc.jetstream-cloud.org_Echo_37eb38ac-74c8-4aa4-a037-c656ab5bc6b8";
        const loadQueues = services.ApplicationDeploymentService.getQueues({ lookup: appDeploymentId });
        const resourceHostId = "example-vc.jetstream-cloud.org_794fd026-101a-46af-8868-5d7a86f813a1";
        const queueName = "cloud";
        const groupResourceProfileId = "fc245311-a7d1-41af-b8ae-a4142989c9a1";
        const loadWorkspacePrefs = services.WorkspacePreferencesService.get();
        Promise.all([loadAppInterface, loadWorkspacePrefs, loadQueues])
        .then(([appInterface, workspacePrefs, queues]) => {
            const experiment = appInterface.createExperiment();
            experiment.experimentName = "Echo " + greeting;
            experiment.projectId = workspacePrefs.most_recent_project_id;
            const cloudQueue = queues.find(q => q.queueName === queueName);
            experiment.userConfigurationData.groupResourceProfileId = groupResourceProfileId;
            experiment.userConfigurationData.computationalResourceScheduling.resourceHostId = resourceHostId;
            experiment.userConfigurationData.computationalResourceScheduling.totalCPUCount = cloudQueue.defaultCPUCount;
            experiment.userConfigurationData.computationalResourceScheduling.nodeCount = cloudQueue.defaultNodeCount;
            experiment.userConfigurationData.computationalResourceScheduling.wallTimeLimit = cloudQueue.defaultWalltime;
            experiment.userConfigurationData.computationalResourceScheduling.queueName = queueName;
            // Copy the selected greeting to the value of the first input
            experiment.experimentInputs[0].value = greeting;

            return services.ExperimentService.create({data: experiment});
        }).then(exp => {
            return services.ExperimentService.launch({lookup: exp.experimentId});
        })
    });

</script>

{% endblock scripts %}
